.mt-50 {
  margin-top: 50px
}
#content{
  border: solid red 3px;
  padding: 20px;
  border-radius: 5%
}
.active{
  border: solid black 5px
}
span{
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}